.transparent25 {
    filter: alpha(Opacity=15); /* Полупрозрачность для IE */
    opacity: 0.15; /* Полупрозрачность для других браузеров */
   }
.fig {
    text-align: center; /* Выравнивание по центру */
    font-size: 60px;
   }
.fig_R {
    text-align: center; /* Выравнивание по центру */
    font-size: 20px;
   }

.container {                      /*текст на картинке */
       position: relative;
}
.container img {                      /*текст на картинке */
       position: absolute;
}
.container p{                      /*текст на картинке */
       color: black;
       position: relative;
   }
body { background-image: url(images/main_brows.jpg) no-repeat;
       background-size: cover;
   }
text { text-align: center;
   }
.thumb img {
    margin-right: 50px; /* Отступ справа */
    margin-bottom: 20px; /* Отступ снизу */
    border-radius: 20px;/* Скругление уголков */

   }
.leftimg {
    float:right;  /* Выравнивание по правому краю */
    margin: 10px 40px 10px 20px; /* Отступы вокруг картинки */
    border-radius: 130px; /* Радиус скругления */
    box-shadow: 0 0 0 3px red, 0 0 11px #333; /* Параметры теней */
   }
.left_img {
   float:right;  /* Выравнивание по правому краю */
   margin: 5px 5px 5px 0; /* Отступы вокруг картинки */
}
p:first-letter {
    color: red;
    }

.whatsapp-button {           /*  начало стиля для кнопки whatsapp  */
    position: fixed;
    right: 130px;
    top: 330px;             /*  отступ кнопки от верха  */
    transform: translate(-50%, -50%);
    background: #25D366; /*цвет кнопки*/
    border-radius: 50%;
    width: 55px; /*ширина кнопки*/
    height: 55px; /*высота кнопки*/
    color: #fff;
    text-align: center;
    line-height: 53px; /*центровка иконки в кнопке*/
    font-size: 35px; /*размер иконки*/
    z-index: 9999;
}
.whatsapp-button a {
    color: #fff;
}
.whatsapp-button:before,
.whatsapp-button:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #25D366; /*цвет анимированных волн от кнопки*/
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
}

.whatsapp-button:after{
    animation-delay: .5s;
}

@keyframes animate
{
    0%
    {
        transform: scale(0.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}
@media (max-width : 1800px) {      /* начало стиля вацап для мобильной версии  */
.whatsapp-button {
    bottom: 5px; /*отступ кнопки снизу от экрана*/
    left: 70px; /*отступ кнопки слева от экрана(right - справа)*/
  }
}

                          /*  конец стиля для вацап  */
.shadowbox {            /*  прямоугольник с тенью  */
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
